@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --swiper-theme-color: rgba(244, 238, 221, 0.3) !important;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

/* 노멀라이즈 */
a {
  color: inherit;
  text-decoration: none;
}

body,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 라이브러리 */

.con {
  min-width: 1200px;
  margin: 0 auto;
}

/* 커스텀 */

article {
  overflow-x:hidden;
  overflow-y:auto;
}

/* top-header */

.header__inner {
  border-top: 4px solid #FFB2B8;
  border-bottom: 1px solid #FFB2B8;
}

header .top-header {
  /* border:3px solid red; */
  /* height:129px; */
  margin-top: 20px;
  display: flex;
  width: 1200px;
}

.top-header .top-header__empty {
  flex: 1 1 0%;
}

.top-header .top-header__logo {
  /* border:3px solid green; */
  display: flex;
  align-items: center;
}

.top-header .top-header__logo>img {
  /* border:3px solid blue; */
}


.top-header .top-header__btn {
  flex: 1 1 0%;
  /* border:3px solid pink; */
  display: flex;
  justify-content: flex-end;
  /*   margin-top:20px; */
}

.top-header .top-header__btn-wrap {
  display: flex;
  padding: 0 4px;
  /* border:3px solid red; */
}

.top-header .top-header__btn-wrap>div {
  margin: 0 0 0 12px;
}

/* header__menu */

.header__menu {
  text-align: center;
  margin-top: 24px;
  width: 100%;
}

.header__menu>ul {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.header__menu>ul>li {
  display: inline-block;
  position: relative;
  margin: 0 40px;
  /* border:3px solid blue; */
  padding: 12px;
  padding-bottom: 24px;
}
}

.header__menu>ul>li>a {
  display: block;
}

.header__menu>ul>li:hover>a {
  color: #F06278;
  /* border-bottom: 1px solid #FFB2B8; */
}

/* 2차메뉴 */

.header__menu>ul>li>ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #FFF;
  /* border:3px solid red; */
  width: 120px;
  font-size: 14px;
  padding: 6px 18px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.150);
  font-weight: 500;
  z-index: 100;
}

.header__menu>ul>li:hover>ul {
  display: block;
  border-bottom: 1px solid #FFB2B8;
}

.header__menu>ul ul>li {
  margin: 12px;
  /* border:3px solid blue; */
}

.header__menu>ul ul>li:hover>a {
  color: #FFB2B8;
}
}

/* 슬라이드 */
/* 
:root {
  --swiper-theme-color:#F4EEDD !important;
} */

/* 스와이퍼 메인 컨테이너는 반!드!시! 높이가 지정되어 있어야 한다. */
.slider-box-1 .swiper {
  height: 800px;
  /* border:3px solid blue; */
}

.slider-box-1 .swiper-button-prev,
.slider-box-1 .swiper-button-next {
  position: static;
  margin-top: 0;
}

.slider-box-1 {
  position: relative;
  /* border:3px solid gold; */
  cursor: pointer;
}

.slider-box-1 .navigation-wrapper {
  width: 1200px;
  /* border:3px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slider-box-1 .swiper-button-prev::after,
.slider-box-1 .swiper-button-next::after {
  display: none;
}

/* 슬라이드 이미지 비율유지 */
.slider-box-1 .swiper-slide>img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section-1 */

.section-1 {
  position: relative;
}

/* bg-img 이동 */

.section-1 .bg-img-1 {
  position: absolute;
  top:331px;
  z-index: -1;
  display: block;
}

.section-1 .bg-img-2 {
  position: absolute;
  top: 874px;
  right: 0;
  z-index: -2;
  display: block;
}

/* section-line 가운데로 */
.section__line {
  height: 61px;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-top: 120px;
}

.section__line>img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


.item-box-1 .title-iu-pick {
  /* border:3px solid blue; */
  text-align: center;
  margin-top: 40px;
}

.item-box-1 .title-border {
  text-align: left;
  width: 1200px;
  padding: 0;
  margin-top: -12px;
}

.item-box-2 .title-my-pick {
  /* border:3px solid blue; */
  text-align: center;
  margin-top: 40px;
}

.item-box-2 .title-border {
  text-align: right;
  width: 1200px;
  padding: 0;
  margin-top: -12px;
}

.item-wrap {
  text-align: center;
  margin-top: 24px;
}

.item-wrap .img-box {
  display: inline-block;
  margin-right: 24px;
}

.img-box:last-child {
  margin-right: 0;
}

.item-wrap .product-name {
  margin-top: 12px;
}

.product-name>span {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #222;
}

.product-price {
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin-top: 4px;
  font-family: 'Noto Sans KR', sans-serif;
}

.section-1 .img-wrap {
  position: relative;
}

.section-1 .img-wrap a:last-child {
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  transition: 0.3s;
}

.section-1 .img-wrap:hover a:last-child {
  opacity: 1;
}

/* section-2 */
.section-2 {
  height: 100%;
  position: relative;
}

.section-2__inner {
  height: 100%;
  margin: 0 auto;
  background-image: url(../img/event-background.png) ;
  background-repeat: no-repeat;
  background-position: center center;
  /* border:3px solid red; */
  /* overflow: hidden; */
}

section .title {
  text-align: center;
  margin-top:40px;
}

.section-2 .img-box {
  text-align: center;
  margin-top: 138px;
  /* border:3px solid gold; */
}

.section-2 .img-box > div {
  display: inline-block;
  margin-right: 30px;
}

.section-2 .img-box > div img {
  display: block;
}

.section-2 .event-img-1 {
  transform:translatey(-80px);
}

.section-2 .event-img-3 {
  transform:translatey(80px);
}

.section-2 .event-all {
  /* border:3px solid blue; */
  width:1200px;
  text-align: right;
  margin:0 auto;
  margin-top:138px;
}

/* section-3 */
.section-3 .bg {
  position:relative;
  z-index: -10;
}
.section-3 .bg .new-bg-1 {
  position: absolute;
  /* border:3px solid blue; */
  margin-top: -21px;
  left: 0;
}

.section-3 .bg img:nth-child(2) {
  position: absolute;
  /* border:3px solid gold; */
  right: 0;
  margin-top: 680px;
}


.section-3 .title-border {
  text-align: left;
  width: 1200px;
  padding: 0;
  margin-top: -12px;
}

/* section-3  slider */

/* 슬라이드 자체 가운데로 */
.new-wrap {
  /* border:3px solid red; */
  text-align:center;
}

.slider-box-2 .swiper-button-prev::after,
.slider-box-2 .swiper-button-next::after {
  display: none;
}


.slider-box-2 {
  /* border:3px solid green; */
  display: inline-block;
  overflow: hidden;
  margin-top: 24px;
  background-color: rgba(245, 245, 245);
}

.slider-box-2 .swiper {
  margin:120px 0;
  width: 1200px;
  height:100%;
  overflow: visible;
  /* border:3px solid blue; */
}

.slider-box-2 .swiper .swiper-slide {
  /* border:3px solid red; */
  width: 100%;
  height: 560px;
  /* 이미지의 양옆사이즈를 작게 */
  transform: scale(0.8);
  transition:0.3s;
  /* hover 이미지 유령의 집 */
  position: relative;
}

.slider-box-2 .swiper-slide>a:first-child>img {
  /* border:3px solid gold; */
  box-shadow:2px 2px 10px 1px #ccc;
}

/* hover 이미지 유령화 및 평소에 안보이게 */
.slider-box-2 .swiper-slide div {
  /* border:3px solid red; */
  width: 420px;
  height: 560px;
  background-color: rgba(153, 153, 153, 0.2);
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  position:absolute;
  opacity: 0;
  transition: 0.3s;
}

.slider-box-2 .swiper-slide a:nth-child(3) {
  position: absolute;
  top: 361px;
  left: 108px;
  opacity: 0;
  transition: 0.3s;
}

.slider-box-2 .swiper-slide a:last-child {
  position: absolute;
  top: 361px;
  right: 108px;
  opacity: 0;
  transition: 0.3s;
}

/* hover 하면 보이게 */

.slider-box-2 .swiper-slide:hover div {
  opacity: 1;
}

.slider-box-2 .swiper-slide:hover a:nth-child(3) {
  opacity: 1;
}

.slider-box-2 .swiper-slide:hover a:last-child {
  opacity: 1;
}

.slider-box-2 .swiper .swiper-slide.swiper-slide-active {
  /* 이미지의 가운데 사이즈를 그대로 */
  transform: scale(1);
  z-index: 10;
}


.slider-box-2 .swiper-horizontal >.swiper-scrollbar {
  height: 1px;
  left: 50%;
  transform:translateX(-50%);
  bottom: -80px;
  width: 800px;
  /* border:3px solid blue; */
}

.section-3 .new-all {
  width:1200px;
  text-align: right;
  margin:0 auto;
  margin-top:48px;
}

/* section-4 */
.section-4 .best-wrap {
  text-align: center;
}

.section-4 .item-wrap-1 {
  display: inline-block;
  /* border:3px solid red; */
  margin-top: 32px;
}

.section-4 .item-wrap-2 {
  display: inline-block;
  /* border:3px solid red; */
  margin-top: 18px;
}

.section-4 .img-box {
  /* border:3px solid blue; */
  float: left;
  width: 300px;
  position: relative;
}

.section-4 .img-wrap>a:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}

.section-4 .img-wrap>a:last-child {
  position: absolute;
  top:0;
  left: 0;
  z-index: 20;
  opacity: 0;
  transition: 0.3s;
}

.section-4 .img-wrap:hover>a:last-child {
  opacity: 1;
}

.section-4 .more-best {
  text-align: right;
  /* border:3px solid red; */
  width: 1200px;
  margin-top: 48px;
}


/* footer */

footer {
  background-color: #FFD9DC;
  /* border:3px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

footer .footer__inner {
  /* border:3px solid blue; */
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin:40px 0;
  font-family: 'Noto Sans KR', sans-serif;
}

footer .footer-left .logo {
  margin-bottom: 40px;
}

footer .footer-menu {
  margin-bottom: 22px;
}

footer li {
  display: inline-block;
  margin-right: 18px;
  font-size: 14px;
  color: #505050;
}

footer .footer-menu-item:nth-child(n+2)::before {
  content: "|";
  size: 13px ;
  color:#fff;
  display: inline-block;
  margin-right: 18px;
}

footer .footer-info{
  /* border:3px solid gold; */
  margin-bottom: 8px;
}

footer .footer-info-item:nth-child(n+2)::before {
  content: "|";
  size: 13px ;
  color:#fff;
  display: inline-block;
  margin-right: 18px;
}

footer .footer-copy {
  font-size: 14px;
  color:#505050;
  margin-top: 16px;
}

footer .footer-right {
  text-align: left;
  /* border:3px solid green; */
}

footer .footer-right .sns-btn {
  display: inline-block;
  margin-right: 15px;
}

footer .footer-right .footer-number {
  font-size: 26px;
  color:#FFF;
  font-weight: 900;
  margin-top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
}

footer .footer-right .footer-cs {
  font-size: 14px;
  color:#505050;
  margin-top: 4px;
  font-family: 'Noto Sans KR', sans-serif;
}